<div class='main-wrapper'>
	<h1 class='page-title'>{{title}}</h1>
	{{#each cabinet}}
		<div class='cabinet-container'>
			<div class='cabinet-header'>
				<div class='cabinet-title'><h1>{{ name }}</h1></div>
			</div>
			<div>
				{{position}}
			</div>
			<div>
				{{email}}
			</div>
			<div>
				<img src='{{img}}'>
			</div>
			<div class='cabinet-info'>
				<div class='cabinet-description'><p>{{ bio }}</p></div>
			</div>
		</div>
	{{/each}}
</div>